<div class="container">
    <div class="row" style="height: 100vh;">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center bg-img shadow">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-4">
                    <div>
                        <img src="assets/illustration/login.svg" alt="login" class="illustration animation">
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0">
                    <div class="login-container">
                        <div class="row">
                            <div class="col-12 text-center text-lg-start">
                                <h1 class="fw-bold">Login</h1>
                                <p class="fs-6">How do i get started lorem ipsum?</p>

                                <button class="btn btn-light btn-lg rounded-pill w-100 mb-3">
                                    <i class="bi bi-google me-2"></i>
                                    <span class="text-dark fs-6">Sign in with google</span>
                                </button>

                                <button class="btn btn-light btn-lg rounded-pill w-100 mb-3">
                                    <i class="bi bi-facebook me-2"></i>
                                    <span class="text-dark fs-6">Sign in with facebook</span>
                                </button>
                            </div>
                        </div>

                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <div style="height: 1px; width: 100%; background-color: #ccc;"></div>
                            </div>
                            <div class="col-5 my-3 text-center">
                                <small>Or sign in with</small>
                            </div>
                            <div class="col">
                                <div style="height: 1px; width: 100%; background-color: #ccc;"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <form class="container-form">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-12">
                                            <div class="input-group mb-3">
                                                <label for="email">Email</label>
                                                <div class="input-icon input-icon-right">
                                                    <input type="text" class="form-control form-control-color"
                                                        name="usuario" autocomplete="off" required>
                                                    <span>
                                                        <i class="fi-rr-user text-muted"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="input-group mb-3">
                                                <label for="password">Password</label>
                                                <div class="input-icon input-icon-right">
                                                    <input type="password" class="form-control form-control-color"
                                                        name="clave" autocomplete="off" required>
                                                    <span>
                                                        <i class="fi-rr-lock text-muted"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pb-2">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-md-left text-center mb-2">
                                            <input id="checkUser" type="checkbox">
                                            <label for="checkUser" class="text-xs mb-0">Remember me</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-md-right text-center mb-2">
                                            <a href="javascript:void(0);">
                                                <label class="text-xs mb-0" for="forgot-password">Forgot
                                                    password?</label>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <button type="button" class="btn btn-primary btn-lg rounded-pill w-100">
                                                <span class="fs-6">Login</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <span class="text-xs text-muted me-3">Don't have account?</span>
                                            <a href="javascript:void(0);"><span class="text-xs text-primary">Create
                                                    account</span></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>